body{
	overflow-x: hidden;
}

.pointer{
	cursor: pointer;
}
.bold{
	font-weight: bold;
}
.padding-10{
	padding: 10;
}
.padding-20{
	padding: 20;
}
.padding-30{
	padding: 30;
}
.padding-top-10{
	padding-top: 10;
}
.padding-top-20{
	padding-top: 20;
}
.max-hight-100{
	overflow:auto;
	max-height: 100px;
}
.max-hight-150{
	overflow:auto;
	max-height: 150px;
}
.max-hight-200{
	overflow:auto;
	max-height: 200px;
}
.max-hight-300{
	overflow:auto;
	max-height: 300px;
}
.wid-100{
	width: 100px;
}
.page{
	cursor: pointer;
}

.bold{
	font-weight: bold;
}

.border{
	border : 1px solid;
}

.valign-bottom{
	vertical-align: bottom;
}

.gide{
	width : 100%;
}

.gide > div{
	padding : 2rem;
}

.list{
	max-width: 100%; 
	background-color:#fff;  
	transition:all 0.8s, color 0.3s 0.3s;  
	color:#504f4f; 
	cursor: pointer; 
}

.list:hover{
	box-shadow:400px 0 0 0 rgba(0,0,0,0.5) inset;
}


.han{
	ime-mode : active;
}

.eng{
	ime-mode : disabled;
}


.circle {
	background: #fff;
	border-radius: 100%;
	cursor: pointer;
	width: 25rem;
	height: 25rem;
	line-height: 25rem;
	text-align: center;
	margin:0 auto;
	overflow: hidden;
	transform: translateZ(0);
}
.circle:before, .circle:after {
	box-sizing: border-box;
	border-radius: 100%;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	box-shadow: 
		inset 150px 0 0 rgba(30, 140, 209, 0.2), 
		inset 0 150px 0 rgba(30, 140, 209, 0.2), 
		inset -150px 0 0 rgba(30, 140, 209, 0.2), 
		inset 0 -150px 0 rgba(30, 140, 209, 0.2);
	transition: box-shadow 0.5s, color 0.8s;
}
.circle:after {
	transform: rotate(45deg);
}
.circle:hover:after, .circle:focus, .circle:hover:before {
	box-shadow: 
		inset 15px 0 0 rgba(255, 0, 0, 0.5), 
		inset 0 15px 0 rgba(252, 150, 0, 0.5), 
		inset -15px 0 0 rgba(0, 255, 0, 0.5), 
		inset 0 -15px 0 rgba(0, 150, 255, 0.5);
}
